<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="releaseNotes" name="%extension-point.name" schema="schema/releaseNotes.exsd"/>
     <extension
           point="org.eclipse.ui.editors">
        <editor
              class="com.devepos.adt.releasenotes.internal.ReleaseNotesEditor"
              default="false"
              icon="icons/devepos-icon.png"
              id="com.devepos.adt.releasenotes.editor"
              name="%editor.name">
        </editor>
     </extension>
     <extension
           point="org.eclipse.ui.startup">
        <startup
              class="com.devepos.adt.releasenotes.internal.Startup">
        </startup>
     </extension>
     <extension
           point="org.eclipse.ui.elementFactories">
        <factory
              class="com.devepos.adt.releasenotes.internal.ReleaseNotesEditorInputPersist"
              id="com.devepos.adt.releasenotes.ReleaseNotesEditorInputPersist">
        </factory>
     </extension>
</plugin>
