<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="searchPageExtensions" name="Search Page Extension" schema="schema/searchPageExtensions.exsd"/>
   <extension
           point="org.eclipse.core.runtime.adapters">
        <factory
              adaptableType="java.lang.Object"
              class="com.devepos.adt.base.ui.adtobject.AdtObjectAdapterFactory">
           <adapter
                 type="com.devepos.adt.base.ui.adtobject.IAdtObject">
           </adapter>
        </factory>
        <factory
              adaptableType="com.sap.adt.projectexplorer.ui.internal.virtualfolders.VirtualFolderNode"
              class="com.devepos.adt.base.ui.internal.projectexplorer.virtualfolders.VirtualFolderAdapterFactory">
           <adapter
                 type="com.devepos.adt.base.ui.projectexplorer.virtualfolders.IVirtualFolderNode">
           </adapter>
        </factory>
        <factory
              adaptableType="com.sap.adt.projectexplorer.ui.node.AbapRepositoryBaseNode"
              class="com.devepos.adt.base.ui.internal.projectexplorer.node.AbapRepositoryFolderAdapterFactory">
           <adapter
                 type="com.devepos.adt.base.ui.projectexplorer.node.IAbapRepositoryFolderNode">
           </adapter>
        </factory>
        <factory
              adaptableType="com.devepos.adt.base.ui.tree.launchable.ILaunchableNode"
              class="com.devepos.adt.base.ui.internal.LaunchableAdapterFactory">
           <adapter
                 type="org.eclipse.debug.ui.actions.ILaunchable">
           </adapter>
        </factory>
   </extension>
   <extension
           point="org.eclipse.core.expressions.propertyTesters">
        <propertyTester
              class="com.devepos.adt.base.ui.internal.propertytester.AdtObjectPropertyTester"
              id="com.devepos.adt.base.ui.IAdtObjectTester"
              namespace="com.devepos.adt.base.ui.adtobject"
              properties="supportsDataPreview,adtType"
              type="com.devepos.adt.base.ui.adtobject.IAdtObject">
        </propertyTester>
        <propertyTester
              class="com.devepos.adt.base.ui.internal.propertytester.PropertyPageExistenceTester"
              id="com.devepos.adt.base.ui.PropertyPageExistenceTester"
              namespace="com.devepos.adt.base.ui.project"
              properties="pluginsWithPropertyPagesAvailable"
              type="org.eclipse.core.resources.IProject">
        </propertyTester>
     </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.devepos.adt.base.ui.commands.category"
            name="%category.adtbaseui.name">
      </category>
      <command
            categoryId="com.devepos.adt.base.ui.commands.category"
            defaultHandler="com.devepos.adt.base.ui.internal.handlers.OpenQueryInSearchDialogHandler"
            id="com.devepos.adt.base.ui.command.openQueryInSearchDialog"
            name="%command.openQueryInSearchDialog.name">
      </command>
      <command
            categoryId="com.devepos.adt.base.ui.commands.category"
            defaultHandler="com.devepos.adt.base.ui.internal.handlers.ToggleTextFilterHandler"
            id="com.devepos.adt.base.ui.command.toggleTextFilter"
            name="%command.toggleTextFilter.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.devepos.adt.base.ui.command.openQueryInSearchDialog"
            contextId="com.devepos.adt.base.ui.searchPage"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+O">
      </key>
      <key
            commandId="com.devepos.adt.base.ui.command.toggleTextFilter"
            contextId="com.devepos.adt.base.ui.filterableView"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+F">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="com.devepos.adt.base.ui.filterableView"
            name="%contexts.FilterableView.name"
            parentId="com.sap.adt.tools.core.ui.abap">
      </context>
      <context
            id="com.devepos.adt.base.ui.searchPage"
            name="%contexts.SearchPageView.name"
            parentId="com.sap.adt.tools.core.ui.abap">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.devepos.adt.base.ui.internal.preferences.PreferencesRoot"
            id="com.devepos.adt.preferences"
            name="%provider.displayName">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.devepos.adt"
            name="%provider.displayName">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.devepos.adt.base.ui.internal.pages.DevEposProjectRootPropertyPage"
            id="com.devepos.adt.base.ui.projectProperties.DevEpos"
            name="%provider.displayName">
         <filter
               name="projectNature"
               value="com.sap.adt.abapnature">
         </filter>
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="com.devepos.adt.base.ui.project.pluginsWithPropertyPagesAvailable">
               </test>
            </adapt>
         </enabledWhen>
      </page>
   </extension>

</plugin>
